/* This is an example of using Sass, otherwise plain CSS works too*/
/* 
$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

*/
* {
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;

}

body {
  display: grid;
  height: auto;
  color: black;
  justify-items: center;
  background: center / cover no-repeat url(../images/hotel-lobby-small.jpg);
  // grid-template-areas: "head head"
  //                      "side dash"
  //                      "side main"
  //                      "foot foot";
  // grid-template-rows: 20vh 20vh 50vh 10vh;
  // grid-template-columns: 30vw 70vw;
}


main > section {
  width: 90vw;
  display: grid;
  align-items: center;
  text-align: center;
  padding: 5%;
}

/* FONTS */

h1 {
  display: grid;
  align-items: center;
  text-align: center;
  background-color: grey;
  opacity: 1;
  padding: 3vh;
  font-size: 60px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  
}

h3 {
  font-size: 28px;
  width: 100%;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 12px;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  border: black 5px solid;
}

.guest-dashboard {
  display: grid;
  justify-content: center;
  padding-bottom: 1%;
}

.booking {
  display: grid;
  border: 3px solid black;
  margin: 0;
  padding: 0;
}

.room-details {
  display: grid;
  background-color: white;
  padding: 1%;
  margin: 0 30%;
}

#bookings-btns-wrapper{
  display: flex;
  justify-items: space-between;
  width: 100%;
  margin: 1%;
}

.rmBooking-btns-wrapper {
  margin: 1%;
}

/* #user-page {
  background-color: silver;
} */

.form-wrapper {
  display: grid;
  align-items: flex-end;
  justify-content: center;
  grid-area: main;
}

form {
  padding: 2%;
  background-color: grey;
  width: 60vw;
}

// #form-user {
//   // margin-top: 20%;
// }

.input-sec {  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 2vw;
}

label { 
  padding: 1%;
}

.txt-input {
  margin-left: 5%;
}

.btn-wrapper {
 display: flex;
 justify-content: center;
}

button {
 height: 5vh; 
}

#room-search {
  display: block;
}

#filters {
  display: flex
}

.hidden {
  display: none;
}


/* GRID AREAS */

// .sec-heading {
//   grid-area: dash;
// }

// .dashboard {
//   grid-area: dash;
// }

// #user-page, .main {
//   // display: grid;
//   grid-area: main;
// }

aside {
  grid-area: side;
}
