/* This is an example of using Sass, otherwise plain CSS works too*/
/* 
$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  // width: 100vw;
  // height: 100vh;
  display: grid;
  justify-content: center;
}

body {
  display: grid;
  width: 98vw;
  height: 100vh;
  color: black;
  justify-items: center;
  background: center / cover no-repeat url(../images/hotel-lobby-small.jpg);
  //padding: 5%;
  // grid-template-areas: "head head"
  //                      "side dash"
  //                      "side main"
  //                      "foot foot";
  // grid-template-rows: 20vh 20vh 50vh 10vh;
  // grid-template-columns: 30vw 70vw;
}

header, main {
  padding-top: 5%;
  // display: grid;
}

main > section {
  width: 90vw;
  display: grid;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

/* FONTS */

h1 {
  display: grid;
  align-items: center;
  text-align: center;
  background-color: grey;
  opacity: 1;
  padding: 3vh;
  font-size: 60px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  
}

h3 {
  font-size: 28px;
  width: 100%;
}

h4 {
  padding: 1%;
  font-size: 24px;
}

h5 {
  font-size: 18px;
  padding: 1%;
}

h6 {
  font-size: 16px;
  padding-bottom: 1%;
}

p {
  font-size: 12px;
}

.form-wrapper {
  // display: grid;
  // align-items: flex-end;
  justify-content: center;
  padding: inherit;
}

form {
  padding: 2%;
  background-color: grey;
  // width: 80vw;
  width: 60vw;
}

.sign-in {
  width: auto;
}

.user-search {
  width: 60vw;
}

.dashboard {
  padding: 2%;
  display: grid;
  border: 3px black solid;
  justify-items: center;
  padding-bottom: 0;
  width: 80vw;
  justify-self: center;
}

// #guest-dashboard {
//   display: grid;
//   border: 3px black solid;
//   justify-items: center;
//   padding-bottom: 0;
//   width: 80vw;
//   justify-self: center;
// }

.booking {
  display: grid;
  border: 2px solid black;
  padding: 10px 10px 5px;
  justify-self: center;
  width: 60vw;
}

.list {
  display: grid;
  grid-row-gap: 5px;
}

#available-rooms-list {
  padding: 5px;
  background: white;
  background: black;
} 

.room-details {
  background-color: white;
  padding: 0;
}

.rm-wrapper {  
  height: inherit;
  display: grid;
  margin: 1% 0;
  background: white;
}

.rm-grid {
  display: grid;
  grid-template-columns: 53% 45%;
  background: silver;
  margin: 2.5% 3%;
  padding: 3%;
  column-gap: 2%;
  // height: 156px;
  // grid-template-columns: 55% 45%;
}

.img-wrapper {
  background-color: grey;
  display: grid;
}

.room-img {
  display: grid;
  width: 100%;
  height: 100%;
}

.details-wrapper {
  display: grid;
  align-items: center;
  height: inherit;
  align-content: space-around;
  padding: 0;
}

button, input[type="submit"] {
  padding: 2px; 
  align-content: center;
  display: grid;
  margin: 5px 0;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
}

.btns-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: end;
}

.rmBooking-btns-wrapper {
   margin-top: 2%;
}

.input-sec {  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 2vw;
}

label { 
  padding: 1%;
}

.txt-input {
  margin-left: 5%;
}

.astrik {
  margin-top: 2%;
}

#room-search-form {
  display: grid;
  justify-items: center;
  padding: 3% 3% 0 3%;
}

#datePicker {
  margin: 5%;
}

#input-button {
  margin: 5%;
}

#input-button {
  /* margin: 5%; */
  margin: 3%;
}

#submit-room-search {
  padding: 5px;
}

.filter-btn {
  background: transparent;
  border: none;
  color: blue;
  font-weight: 600;
  // padding: 2% 1% 0 1%;
  padding: 2% 0 0 0;
}

.dark-red {
  color: darkred;
}


#guest-bookings {
  padding: 1%;
}

.hidden {
  display: none;
}
